{% extends "todo_list/layout.html" %}
{% load static %}

{% block head %}
    <title>Add task</title>
    <link rel="stylesheet" href="{% static "todo_list/css/userformsstyles.css" %}">
{% endblock head %}

{% block body %}
    <div id='adder' class='form-check-inline'>
    <div class='row justify-content-center'>
        <h1>Add new task</h1>
        <form action="{% url "todo_list:add_task" %}", method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Add" class='btn btn-dark btn-block'> 
        </form>
    </div>
    </div>
    <script>
        document.body.style.overflow = "hidden";
    </script>
{% endblock body %}