{% extends "todo_list/layout.html" %}
{% load static %}

{% block head %}
<title>Login</title>
{% endblock head %}

{% block body %}
<div>
  <div class='form-app'>
    <h1>Login</h1>
      <form action="{% url 'todo_list:index' %}", method="post">
        {% csrf_token %}
        <p><input type="text", name="username", placeholder="Username"></p>
        <p><input type="password", name="password", placeholder="Password"></p>
        <input type="submit", value="Sign in">
      </form>
      <a href="">Forgot Password</a>
      <a href="{% url 'todo_list:signup' %}">Signup</a>
  </div>
</div>
{% endblock body %}