html {
<<<<<<< HEAD
    background: linear-gradient(106deg, #1f7539 44%, #ee00ff 60%);
=======
    background: white;
>>>>>>> 5dd4162
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    border-bottom: solid 1px black;
}

.entire {
    resize:both;
    overflow:auto
}

section {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
    
}


.left-chapter {
    background: wheat;
    width: 10%;
    min-height: 100%;
    display: block;
    border-right: solid 1px black;
}


.content {
    background: whitesmoke;
    text-align: center;
    width: 80%;
    list-style: none;
}

.tasks > ul > li {
    list-style: none;
}

.right-chapter {
    background: wheat;
    width: 10%;
    min-height: 100%;
    display: block;
    border-left: solid 1px black;
}

