html {
    background-color: #742e94;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    border-bottom: solid 1px black;
}

section {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
    
}


footer {
    display: block;
    text-align: right;
    background-color: rgb(206, 202, 202);
    color: black;
    border-top: solid 1px black;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

#cpright {
    text-align: center;
}

.left-chapter {
    background: linear-gradient(155deg, #d82222 10%, #742e94 100%);
    width: 10%;
    min-height: 100%;
    display: block;
    border-right: solid 1px black;
}


.content {
    background: radial-gradient(#d82222 10%, #742e94 86%, #742e94 100%);
    text-align: center;
    width: 80%;
    list-style: none;
}

.tasks > ul > li {
    list-style: none;
}

.right-chapter {
    background: linear-gradient(155deg, #d82222 10%, #742e94 100%);;
    width: 10%;
    min-height: 100%;
    display: block;
    border-left: solid 1px black;
}