html {

    background: white;
    padding: 0;
    margin: 0;
    list-style: none;
}


header {
    border-bottom: solid 1px black;
}


section {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
    width: 100%;
    height: 89.2vh;
}


.left-chapter {
    background: black;
    width: 10%;
    min-height: 100%;
    display: block;
    border-right: solid 1px black;
}


.content {
    background: rgba(190, 174, 174, 0.637);
    text-align: center;
    width: 80%;
    list-style: none;
    font-size: xx-large;
}

li {
    text-align: left;
}

.right-chapter {
    background: black;
    width: 10%;
    min-height: 100%;
    display: block;
    border-left: solid 1px black;
}


#del-but:link {
    text-decoration: none;
    color: white;
}


.btn {
    float: right;
}